extends ../layout/common
block content
     h1(class="text-center") Product
     .row
        .col-sm-6.col-md-4.col-lg-4
              .card.mb-3
                img(src=product[0].img class="card-img-top" alt="...")
                .card-body
                  h5.card-title=product[0].name
                  p.card-text=product[0].description
                  a.btn.btn-primary(href='/cart/add/' + product[0].id) Add to cart
        .col-sm-6.col-md-4.col-lg-4
              .card.mb-3
                img(src=product[1].img class="card-img-top" alt="...")
                .card-body
                  h5.card-title=product[1].name
                  p.card-text=product[1].description
                  a.btn.btn-primary(href='/cart/add/' + product[1].id) Add to cart
        .col-sm-6.col-md-4.col-lg-4
              .card.mb-3
                img(src=product[2].img class="card-img-top" alt="...")
                .card-body
                  h5.card-title=product[2].name
                  p.card-text=product[2].description
                  a.btn.btn-primary(href='/cart/add/' + product[2].id) Add to cart
     nav(class="mt-20" aria-label='Page navigation example')
      ul.pagination.justify-content-end
        li.page-item
          a.page-link(href='?page=1', aria-label='Previous')
            span(aria-hidden='true') &laquo;
        li.page-item
          a.page-link(href='?page=1') 1
        li.page-item
          a.page-link(href='?page=2') 2
        li.page-item
          a.page-link(href='?page=3') 3
        li.page-item
          a.page-link(href='?page=4') 4
        li.page-item
          a.page-link(href='?page=6', aria-label='Next')
            span(aria-hidden='true') &raquo;


